body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('img/fundoLog.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; /* assim minha imagem fica fixa enquanto a página rola, pra n rolar e ficar a tela branca */
    background-repeat: no-repeat; /* assim n vou ter um monte de plano de fundo */
    color: #fff;
}

.container {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
}

h2.titulo {
    font-family: 'Creepster', cursive; 
    font-size: 2.5rem;
    color: red;
    text-shadow: 2px 2px 4px black; 
    text-align: center;
}

img {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; /* Espaço das imagens */
    border-radius: 8px; 
}
